<h2 class="mb-4">Product Management</h2>
<div class="container">
  <div class="row">
    <!-- Product Table -->
    <div class="col-md-6">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Create At</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.id }}</td>
          <td>{{ product.name | uppercase }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.createAt | date | uppercase}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Product Form -->
    <div class="col-md-6">
      <form>
        <div class="form-group mb-3">
          <label for="productName">Name:</label>
          <input
            id="productName"
            type="text"
            class="form-control"
            [(ngModel)]="product.name"
            name="name"
            placeholder="Enter product name"
          />
        </div>

        <div class="form-group mb-3">
          <label for="productPrice">Price:</label>
          <input
            id="productPrice"
            type="number"
            class="form-control"
            [(ngModel)]="product.price"
            name="price"
            placeholder="Enter product price"
          />
        </div>

        <div class="form-group mb-3">
          <label for="productDescription">Description:</label>
          <textarea
            id="productDescription"
            class="form-control"
            [(ngModel)]="product.description"
            rows="4"
            name="description"
            placeholder="Enter product description"
          ></textarea>
        </div>

        <div class="form-group mb-3">
          <label for="productCreateAt">Create At:</label>
          <input
            id="productCreateAt"
            type="date"
            class="form-control"
            [(ngModel)]="product.createAt"
            name="createAt"
            placeholder="Enter product create at">
        </div>

        <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
      </form>
    </div>
  </div>
</div>
